html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    color: rgb(15, 4, 4);
    size: 20px;
    margin-left: 20px;
    font-style: unset;
}
.main {
    background-color: teal;
    width: 100%;
    height: 800px;
}

.nav {
    background-color: wheat;
    width: 100%;
    height: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    background: rgb(229, 206, 163);
    border-radius: 100px 0px 100px 0px ;
}